body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1.875em;
  padding: 2em;
}

.app__wrapper{
  display: flex;
  justify-content: center;
  padding: 0.625em;
}

.news__feed{
  background-color: #a2b722;
  padding: 1.25em;
  margin: 0.3125em;
  box-shadow: 0 0.1875em 0.625em rgb(0 0 0 / 0.2);
  max-width: 25em;
  min-width: 15em;
  border-radius: 0.625em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  color: darkgreen;
}

.converter{
  background-color: #58830b;
  padding: 1.25em;
  margin: 0.3125em;
  box-shadow: 0 0.1875em 0.625em rgb(0 0 0 / 0.2);
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 0.625em;
}

h2 {
  color: white;
}

.exchange__rate{
  background-color: rgb(198, 230, 55);
  padding: 1.25em;
  margin-top: 0.625em;
  box-shadow: 0 0.1875em 0.625em rgb(0 0 0 / 0.2);
  border-radius: 0.625em;
}


.input__box {
  margin: 2.5em 0;
  background-color: rgb(252, 239, 56);
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: 0 0.1875em 0.625em rgb(0 0 0 / 0.2);
}

button {
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
  margin-top: 0.625em;
  padding: 0.9375em 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 0.625em;
  border: none;
}

button:hover, button:focus {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

tr {
  text-align: left;
}

input {
  padding: 0.5em;
  margin: 0.125em;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.3125em;
}

select {
  padding: 0.375em;
  margin: 0.125em;
  border-radius: 0.3125em;
}

input, select {
  border: none;
}

@media (max-width: 64.5em) {
 
  .app__wrapper {
    border: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .input__box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  td {
    display: flex;
    flex-direction: column;
  }
  .news__feed {
    max-width: none;
  }
}




